{% extends 'layout.html' %}

{% block title %}
    Crédits et remerciements
{% endblock %}

{% block content %}
    <section>
        <h2>Compétences validées</h2>
        <p>Flask, Python, HTML, CSS, JavaScript</p>
    </section>
    <section>
        <h2>Créateur</h2>
        <p>S. Mily</p>
    </section>
    <section>
        <h2>Contributeurs</h2>
        <ul>S.M</ul>
        <ul>K.H</ul>
        <ul>L.K</ul>
    </section>
    <section>
        <h2>Ressources</h2>
        <ul>
            <a href="lien_vers_la_documentation_flask" target="_blank">Documentation Flask</a>
            <a href="lien_vers_la_documentation_python" target="_blank">Documentation Python</a>
            <!-- Ajoutez d'autres liens utiles au besoin -->
        </ul>
    </section>
    <section>
        <h2>Remerciements spéciaux</h2>
        <p>Je souhaite exprimer ma profonde reconnaissance envers mes camarades de classe, en particulier Louis, Kevin, ainsi que tous les autres membres qui ont joué un rôle déterminant dans la concrétisation de ce projet. Leur collaboration, leurs conseils et leur soutien ont revêtu une importance cruciale à chaque étape de notre parcours. L'échange de connaissances, l'esprit d'équipe et la passion partagée pour le codage ont métamorphosé cette expérience en une aventure des plus enrichissantes. Ensemble, nous avons relevé des défis, appris les uns des autres et créé quelque chose dont nous pouvons tous être fiers. Je tiens à exprimer ma gratitude à l'ensemble de la classe pour avoir rendu cette expérience de la POEC de Data Analyst aussi merveilleuse et mémorable. Awi, et merci Louis pour les chouquettes!</p>
        <!-- Ajoutez la balise img avec le lien vers votre image de chouquette -->
        <img src="https://th.bing.com/th/id/R.cbbdfa068ef10eaf8ded0f72062e944e?rik=Ujjwxu%2f7zhjo4A&pid=ImgRaw&r=0" alt="✨Chouquettes✨" style="width: 80%; border-radius: 120px;">
    </section>
    
{% endblock %}