<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Projet Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accueil') }}" method="post">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('formulaire_view') }}" method="post">Ajout Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('get_clients') }}" method="post">Liste Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('form_news') }}" method="post">Recherche entreprise</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('upload_view') }}" method="post">Importer fichier</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('stock_form') }}" method="post">Stock Formulaire</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('img_form') }}" method="post">Prédiction Formulaire</a>
            </li>             
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('predict_draw_view') }}" method="post">Dessin Prédiction</a>
            </li> 
        </ul>
    </nav>
    <div class="container p-3 my-3 border">
        <h1>Dessinez un chiffre</h1>
        <canvas id="canvas" width="280" height="280"></canvas>
        <button onclick="predictDigit()">Devinez</button>
        <p>La prédiction est : <span id="prediction"></span></p>
    
        <script>
            let canvas = document.getElementById('canvas');
            let ctx = canvas.getContext('2d');
        
            canvas.addEventListener('mousedown', function (e) {
                painting = true;
                draw(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
            });
        
            canvas.addEventListener('mousemove', function (e) {
                if (painting) {
                    draw(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop, true);
                }
            });
        
            canvas.addEventListener('mouseup', function () {
                painting = false;
            });
        
            canvas.addEventListener('mouseleave', function () {
                painting = false;
            });
        
            let painting = false;
            let lastX = 0;
            let lastY = 0;
        
            function draw(x, y, isDown) {
                if (isDown) {
                    ctx.beginPath();
                    ctx.strokeStyle = 'black'; // Set the stroke color to white
                    ctx.lineWidth = 15;
                    ctx.lineJoin = 'round';
                    ctx.moveTo(lastX, lastY);
                    ctx.lineTo(x, y);
                    ctx.closePath();
                    ctx.stroke();
                }
                lastX = x;
                lastY = y;
            }
        
            function predictDigit() {
                let imageData = canvas.toDataURL();
                fetch('/predict_draw', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ image_data: imageData })
                })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('prediction').textContent = data.prediction;
                    });
            }
        </script>
        
    </div>
    
</body>
</html>